.git
.venv
.pytest_cache
**/__pycache__
tests
captures
thor-audio
models/*
!models/snapstock/
models/snapstock/*
!models/snapstock/fruit_vegetable_yolov8m.pt
!models/collie/
models/collie/*
!models/collie/collie-fruit-yoloe11m.pt
!models/collie/collie-fruit-yoloe11m.engine
!models/pointing/
models/pointing/*
!models/pointing/locked_point_actor.jit
